<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbc1e0">  <td>18/03/01 17:49:09</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Testcreation.intialize()[pri:0, instance:com.main.test.Testcreation@7823a2f9]">&gt;&gt;intialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@466113883</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>18/03/01 17:49:09</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Testcreation.methidbefore()[pri:0, instance:com.main.test.Testcreation@7823a2f9]">&gt;&gt;methidbefore</td> 
<td>&nbsp;</td>  <td>TestNG@466113883</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>18/03/01 17:49:07</td>   <td>-2744</td> <td>&nbsp;</td><td title="&gt;&gt;Browserlaunching.set(java.lang.String)[pri:0, instance:com.main.test.Testcreation@7823a2f9]">&gt;&gt;set</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@466113883</td>   <td></td> </tr>
<tr bgcolor="f67b76">  <td>18/03/01 17:50:20</td>   <td>71159</td> <td>&nbsp;</td><td title="&lt;&lt;Browserlaunching.teardown()[pri:0, instance:com.main.test.Testcreation@7823a2f9]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@466113883</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>18/03/01 17:49:10</td>   <td>336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcreation.test1()[pri:0, instance:com.main.test.Testcreation@7823a2f9]">test1</td> 
  <td>TestNG@466113883</td>   <td></td> </tr>
</table>
